@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.nav {
  height: 80px;
  display: flex;
}

.undraw__pic {
  width: 100%;
  max-height: 50vh;

}

.nav__container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
 
  margin: 0 auto;
}

.purple {
  color:#7342d6;
}

.Logo {
  width: 160px;
  margin-left: 12px;
  margin-top: 6px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: bold;
}

.nav__links {
  margin-right: 12px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
  padding: 2px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

#Landing {
  background-color: rgba(115, 66, 214, 0.1);
  height: 1000px;
}

header {
  height: calc(100vh - 80px);

}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  justify-content: space-around;
  padding: 2px 2px 2px 12px
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  ;
  margin-top: 32px;
}



.picture__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  margin-top: 120px;
  z-index: 10;
  
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(5px);
}

.header__img--wrapper {
  padding: 20px;
}

.container {
  padding: 60px;
}

.btn {
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #7342d6;
  font-size: 20px;
  border: none;
}

.header__img--wrapper {
  padding: 20px;
  z-index: 1;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*

HIGHLIGHTS

*/
#highlights {
  position: relative;
  isolation: isolate;
}

#highlights:before,
#highlights:after {
  background: url(./assets/wave.svg);
  content: "";
  position: absolute;
  left: 0;
  width: 101vw;
  height: 12vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

#highlights:before {
  top: 0px;
  transform: translateY(-100%);
  z-index: 0;
  background-repeat: no-repeat;
}

#highlights:after {
  bottom: 0px;
  transform: translateY(100%) rotate(180deg);
  z-index: 0;
}

.highlights__container {
  padding: 56px 0;
  z-index: 0;
}

.highlight__wrapper {
  display: flex;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.highlight__img {
  border: 3px solid #7342d65f;
  color: #7342d6;
  padding: 60px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;
  }

.highlight__para {
  text-align: center;
  max-width: 380px;
}

h3 {
  font-size: 20px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*

FEATURES

*/

#FEATURES {
  padding-top: 7vw;
  background-color:  rgba(115, 66, 214, 0.1);
  height:1000px;
}

.books {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.book {
  width: 25%;
  padding: 24px;
}

.book__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: no-drop;
}

.book__img--wrapper {
  height: 380px;
  width: 260px;
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.book__price--normal {
  text-decoration: line-through;
  color: #bfbfbf;
  margin-right: 6px;
}

.book__title:hover {
  text-decoration: underline;
}

.book__rating {
  margin-bottom: 8px;
  color: #fabf2a;
}