@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.nav {
  height: 80px;
  width: 1200px;
}

img {
  width: 100%;
}

.nav__container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 18px 24px;
  margin: 0 auto;
}

.purple {
  color:#7342d6;
}

.Logo {
  width: 160px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: bold;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
  padding: 2px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

#Landing {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  height: 1200px;

}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.header__button {
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #7342d6;
}

.picture__container {
  margin-top: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;

}