@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav {
  height: 80px;
  display: flex;
}

.undraw__pic {
  width: 100%;
  max-height: 50vh;

}

.nav__container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.purple {
  color:#7342d6;
}

.Logo {
  width: 160px;
  margin-left: 12px;
  margin-top: 6px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: bold;
}

.nav__links {
  margin-right: 12px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
  padding: 2px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu--open .menu__backdrop{
  display: flex;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  right:20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/* 

LANDING

*/

#Landing {
  background-color: rgba(115, 66, 214, 0.1);
  height: 1000px;
}

header {
  height: calc(100vh - 80px);

}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 16px auto 0;
  min-height: 100%;
  padding: 2px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}



.picture__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  margin-top: 120px;
  z-index: 10;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(5px);
}

.header__img--wrapper {
  padding: 20px;
}

.container {
  padding: 60px 20px;
}

.btn {
  display: inline-block;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #7342d6;
  font-size: 20px;
  border: none;
  text-decoration: none;
  margin: 0 auto;
}

.header__img--wrapper {
  padding: 20px;
  z-index: 1;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__container,
.header__container,
.row,
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.no--cursor {
  cursor: not-allowed;
}

/*

HIGHLIGHTS

*/
#highlights {
  position: relative;
  isolation: isolate;
}

#highlights:before,
#highlights:after {
  background: url(./assets/wave.svg);
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 12vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

#highlights:before {
  top: 0px;
  transform: translateY(-100%);
  z-index: 0;
  background-repeat: no-repeat;
}

#highlights:after {
  bottom: 0px;
  transform: translateY(100%) rotate(180deg);
  z-index: 0;
}

.highlights__container {
  padding: 56px 0;
  z-index: 0;
}

.highlight__wrapper {
  display: flex;
  align-items: flex-start;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.highlight__img {
  border: 3px solid #7342d65f;
  color: #7342d6;
  padding: 60px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;
}

.highlight__para {
  text-align: center;
  max-width: 380px;
}

h3 {
  font-size: 20px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*

FEATURES

*/

#FEATURES {
  padding-top: 7vw;
  background-color:  rgba(115, 66, 214, 0.1);
  height:870px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.book {
  width: 25%;
  padding: 24px;
  text-align: center;
}

.book__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
  cursor: no-drop;
}

.book__img--wrapper {
  height: 380px;
  width: 260px;
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.book__price--normal {
  text-decoration: line-through;
  color: #bfbfbf;
  margin-right: 6px;
}

.book__title:hover {
  text-decoration: underline;
}

.book__rating {
  margin-bottom: 8px;
  color: #fabf2a;
}

/*

Explore

*/

.EXPLORE {
  background-color:  rgba(115, 66, 214, 0.1);
}

.section__title--explore {
  padding-top: 40px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.explore__figure {
  height: 220px;
}

/*

FOOTER

*/

footer {
  background-color:  #242424;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1)  invert(1);
}

.footer__copyright,
.footer__link {
  color: white;
}

.row__row--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  margin: 0 8px;
}

@media (max-width: 550px) {
 .nav__links {
    display: none;
  }


 .btn__menu {
   display: block;
  }
}